__pycache__/
*.pyc
.env
data/raw/
data/bids/
data/derivatives/
**/dicom/**
**/nifti/**
*.dcm
*.DCM
*.ima
*.IMA
*.nii
*.nii.gz
.DS_Store
._*
.venv/
venv/
.ipynb_checkpoints/
.idea/
.vscode/
*.log
*.csv
!results/tables/*.csv
results/traces/
**/._*
data/bids_test/
data/bids_test2/
.autobidsify_session
